
@import '/node_modules/bootstrap/scss/bootstrap.scss';

@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

//importo file variabili

@use './partials/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: rgb(42, 41, 41);
}

li{
    list-style-type: none;
}
